.ui-component {
  width: 300px;
  height: 200px;
  margin: 10px 30px;
  position: fixed;
  right: 0;
  display: none;
  background-color: white;
  border: 1px solid #DCDCDC;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 5px 2px rgba(221, 221, 221, 1);
}

.ui-component .btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.ui-component .close-button {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: rgb(220, 220, 220);
}

.ui-component .close-button:hover {
  background-color: rgb(205, 205, 205);
}

.close-button i {
  margin: auto;
  color: white;
  font-size: 18px;
}

.inform-block {
  height: 138px;
  border: 1px solid rgb(150, 150, 150);
  margin: 15px 40px 5px 15px;
  padding: 5px;
}

.inform-block span {
  font-size: 18px;
  font-weight: bold;
}

.inform-block .slider {
  height: 130px;
  padding-top: 5px;
}

.inform-block .slider li {
  display: none;
  height: 100px;
  font-size: 16px;
  line-height: 1.15em;
}

.control-block {
  width: 100%;
  height: 40px;
  padding: 0 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 247, 247);
}

.control-block label {
  width: 100px;
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 0.9em;  
  outline: none;
  cursor: pointer;
  user-select: none;
}

.slider-controller { 
  display: flex;
}

.slider-controller .btn {
  background-color: rgb(247, 247, 247);
}

.slider-controller .btn i {
  font-size: 18px;
  color: rgb(150, 150, 150);
}

.slider-controller .btn i:hover {
  color: rgb(80, 80, 80);
}

.slider-controller .tip-indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-controller .tip-indicators li {
  width: 8px;
  height: 8px;
  margin-left: 7px;
  border-radius: 50%;
  background-color: rgb(195, 195, 195);
}

.slider-controller .tip-indicators li:first-child {
  margin-left: 10px;
}

.slider-controller .tip-indicators li:last-child {
  margin-right: 10px;
}

.slider-controller .tip-indicators .current-indicator {
  background-color: rgb(83, 152, 241);
}

.inform-block .slider .show-inf-block {
  display: block;
}
