.game-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  user-select: none;
}

.game-info .round {
  width: 170px;
  height: 60px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: radial-gradient(circle, rgb(48, 48, 48), rgb(115, 116, 115), rgb(161, 159, 159));
  box-shadow: 0 0 30px rgba(255, 254, 254, 0.5);
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px #cccccc, 1px -1px #cccccc, -1px 1px #cccccc, -1px -1px #cccccc, 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.game-info h3 {
  display: inline-block;
  margin: 0 15px 5px 15px;
  font-size: 35px;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 1px 0, rgb(0, 0, 0) -1px -1px 0, rgb(0, 0, 0) -1px 1px 0, rgb(0, 0, 0) 1px -1px 0;
}

.enemy-characteristics {
  text-align: right;
}