@media only screen and (max-width: 550px) {
  .homepage h1 {
    font-size: 1.9em;
  }

  .homepage .info-block p {
    font-size: 1em;
    line-height: 1.3;
  }

  .homepage .info-block .literature-info {
    margin-top: 25px;
    font-size: 1.25em;
    letter-spacing: 0;
  }

  .homepage .info-block h1+p {
    margin-top: 20px;
  }
}

.homepage {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-block {
  width: 100%;
  display: flex;
  min-height: 86vh;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage p {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.3;
}

.info-block h1+p {
  margin-top: 30px;
}

.homepage .literature-info {
  margin-top: 40px;
  font-size: 1.5em;
  letter-spacing: 0.7px;
}

.homepage>* {
  margin-bottom:10px;
}

.auth-img {
  width:400px;
  height:400px;
}

.author-of-the-day {
  text-align: center;
}
