.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
}

.col,
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-shape {
  margin: 100px auto 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
}

.search-shape input {
  padding: 7px 10px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  outline: none;
  font-size: 2em;
  width: 100%;
}

.search-result {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-result .card {
  margin: 5px auto;
  width: 90%;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.search-result .card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
}

.search-result .card .author-name {
  margin: auto 50px auto;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }
  .search-shape {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 100% !important;
  }
  .search-shape {
    margin: 50px 0 10px;
  }
  .search-shape input {
    width: 90%;
  }
}
