.video-list {
  position:relative;
  text-align: center;
}

.video-overlay {
  position:fixed;
  top:0;
  left:0;
  z-index:1050;
  height:100%;
  width:100%;
  background:#ffffff;
  opacity:0.6;
  display:none;    
}
.video {
  display:none;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 1100;
}

.video > iframe {
  width: 100%;
  height: 100%;
}

.videosnap {
  max-width: 100%;
}
