.header {
  width: 100%;
  height: 8vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #24292e;
  user-select: none;
}

.header p {
  font-weight: bold;
  color: white;
  font-size: 1.5em;  
}

.cheeseburger-menu-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.navigation-bar li{
  margin: 10px 0;
}

.navigation-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  user-select: none;
  transition: color 0.3s;
}

.navigation-bar a:hover {
  color: rgb(189, 114, 114);
}

.hamburger {
  cursor: pointer;
}
