
.what-is img:first-child{
  width: 400px;
  height: 420px;
  margin-right: 100px;
}

.what-is img:last-child{
  margin-bottom: 80px;
  margin-left: 100px;
  width: 300px;
  height: 300px;
}

.Object-Oriented .wrapper {
  width: 560px;
  height: 400px;
  margin: auto;
  background-color: white;
  background-image: url('../images/Object-Oriented_Model.svg') ;
  background-size: cover;
}

.buffer {
  width: 50px;
  height: 50px;
}

.architecture p:first-child {
  font-size: 40px;
}

.architecture p {
  font-size: 30px;
}

.architecture .first {
  width: 420px;
  height: 380px;
}

.architecture .second {
  width: 600px;
  height: 420px;
}

.popular img{
  
  width: 320px;
  height: 250px;
}

.popular div {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

